* binary
*.h text eol=crlf diff
*.hpp text eol=crlf diff
*.cpp text eol=crlf diff
*.sln text eol=crlf diff
*.cs text eol=crlf diff
*.txt binary diff
*.vcproj text eol=crlf diff
*.vcxproj text eol=crlf diff
.gitignore text diff
.gitattributes text diff